.about-container {
  width: 100%;
  height: 100vh;
  text-align: center;

  background-color: black;
}

.about-container h2 {
  font-size: 2.4rem;

  background-color: black;
}

.about-container-light {
  width: 100%;
  height: 100vh;

  background-color: $light-color-primary;
  color: $light-color-red;
  text-align: center;
}

.about-container-light h2 {
  font-size: 2.4rem;
  color: $light-color-secondary;
}

.bio {
  font-size: 1.4rem;
  width: 200px;
  margin: 0 auto;
}

.prof-pic-container {
  margin: 0px auto;
  margin-bottom: 5%;
  width: 200px;
  height: 200px;
  border: 1px white solid;
  border-radius: 100%;
  animation: appear 1.5s ease-out;
}

.prof-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  // object-position: 50% 100%;
  animation: appear 1s ease-in;
}

.about-spacer {
  height: 14vh;
}
