.floats {
  display: flex;
  background-color: $color-primary;
  padding: 8rem;
  padding-top: 9rem;
  font-size: 1.3rem;

  h2 {
    color: $color-secondary;
  }
}

.floats-light {
  display: flex;
  background-color: $light-color-primary;
  padding: 8rem;
  padding-top: 9rem;
  font-size: 1.3rem;
  color: $light-color-red;

  h2 {
    color: $light-color-secondary;
  }
}

.lists {
  list-style-type: none;
}

.link {
  color: $color-red;
  text-decoration: none;
  display: inline-block;
}

.link-light {
  color: $light-color-red;
  text-decoration: none;
  display: inline-block;
}

.right {
  text-align: right;
}

.in-float {
  margin: auto;
  letter-spacing: 0.05em;
}
