// COLORS
$color-primary: rgba(241, 231, 203, 0.85);
$color-primary-light: rgba(241, 231, 203, 0.84);
$color-primary-dark: rgba(241, 231, 203, 0.9);

$color-secondary: rgb(208, 179, 87);
$color-green: rgb(20, 113, 0);
$color-red: rgb(211, 105, 73);

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
