*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* without, padding and borders added to height / width of element */
  /* inherited from body */
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  // defines what 1rem is
  // sets to 10px, since standard font-size is 16px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-primary-dark;
}
