body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-secondary;
  /* padding: 30px; */
}

.heading-primary {
  text-transform: uppercase;
  animation: moveInLeft 1s ease-out;
}

.heading-primary-out {
  text-transform: uppercase;
  animation: moveLeft 1s ease-out;
  animation-fill-mode: forwards;
}

.heading-primary-appear {
  text-transform: uppercase;
  animation: appear 5s ease-out;
  animation-fill-mode: forwards;
}

.heading-primary-disappear {
  text-transform: uppercase;
  animation: disappear 1s ease-out;
  animation-fill-mode: forwards;
}

.heading-sub {
  text-transform: uppercase;
  animation: moveInRight 1s ease-out;
}

.floats {
  color: $color-red;
}
