.grid-container {
  display: flex;
  height: 800 px;
}

// make this responsive
.col-1-of-3 {
  width: calc((100% - 700px) / 2);
  height: 700px;
  margin: auto;
}

.col-2-of-3 {
  width: 700 px;
  height: 700px;
  margin: auto;
}
