.header {
  position: fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: $color-primary-dark-2;
  padding: 10px;
  padding-top: 15px;
  box-shadow: 0.5px 1px 2px rgba(white, 0.2);
}

.header-light {
  position: fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: $light-color-primary-dark;
  color: $light-color-secondary;
  padding: 10px;
  padding-top: 15px;
  box-shadow: 0.5px 1px 2px rgba(white, 0.2);
}

.inner-header {
  width: 83%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.spacer {
  width: 100%;
  height: 60px;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
  font-weight: 200;
}

.logo-container h1 {
  font-weight: 200;
}

.title-span {
  font-weight: bold;
}

.navigation {
  float: right;
  height: 100%;
  animation: appear 1s ease-in;
}

.header-link {
  color: white;
  height: 100%;
  float: left;
  padding: 8px 20px;
  vertical-align: middle;
}

.header-link-light {
  color: $light-color-secondary;
  height: 100%;
  float: left;
  padding: 8px 20px;
  vertical-align: middle;
}

.logo-link {
  color: white;
}

.logo-link-light {
  color: $light-color-secondary;
}

.project {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  animation: appear 1s ease-in;
}

.header-icon {
  padding: 12px 20px;
}

.directions {
  padding-top: 3px;
  opacity: 0.5;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.2em;

  animation: flickerAnimation 3.5s ease-in-out infinite;
}
