.scroll-arrows {
  position: fixed;
  left: 0;
  top: 50%;
  margin-left: 4%;
  animation: flickerAnimation 2s ease-in-out infinite;
}

.scroll-arrows-light {
  color: $light-color-red;
  position: fixed;
  left: 0;
  top: 50%;
  margin-left: 4%;
  animation: flickerAnimation 2s ease-in-out infinite;
}
